squire-editor {
  display: block;
  width: 100%;

  border-radius: 2px;
  overflow: hidden;

  outline: 1px solid lightgray;

  &:focus-within {
    outline-color: deepskyblue;
  }
}

squire-editor * {
  box-sizing: border-box;
}

squire-editor textarea {
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  width: 100%;
  margin: 0;
  border: none;
  resize: none;
}

squire-editor .squire-toolbar {
  background: #efefef;
}

squire-editor .squire-toolbar-group {
  border-right: 1px solid rgba(100, 100, 100, 0.2);
  display: inline-block;

  &:empty {
    display: none;
  }
  &:last-child {
    border-right: 0;
  }
}

squire-editor .squire-toolbar button {
  border: 0;
  height: 38px;
  width: 38px;
  background: transparent;
  cursor: pointer;
}

squire-editor .squire-toolbar button:hover,
squire-editor .squire-toolbar button.is-active {
  background: rgba(100, 100, 100, 0.2);
}

squire-editor textarea,
squire-editor .squire-input {
  padding: 0.5rem;

  &:focus {
    outline: none;
  }
}
